.version.index /* version checker */
{
	color: #000000;
	background-color: #CB1B9E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 252px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 395px;
	margin-left: auto;
	margin-right: auto;
}

#u272
{
	z-index: 2;
	min-height: 154px;
	padding-bottom: 98px;
}

#u272:hover
{
	min-height: 154px;
	margin: 0px;
}

#u272_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#u275-4
{
	z-index: 3;
	width: 416px;
	min-height: 73px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 402px;
}

#u272-bw
{
	z-index: 2;
	min-height: 154px;
}

#u277-4
{
	z-index: 7;
	width: 519px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 153px;
	left: 251px;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-bottom: 100px;
}

#page .verticalspacer
{
	clear: both;
}

